<h1>Items</h1>
<div class="form-container">
	<form method="post">
		<div class="form-group">
			<label for="search-title">Title</label>
			<input type="text" id="search-title" class="form-control" ng-model="vm.currentUser.filters.title" />
		</div>
		<div class="form-group">
			<label for="search-price-min">Price higher than</label>
			<input type="number" step="0.01" id="search-price-min" class="form-control" ng-model="vm.currentUser.filters.priceMin"/>
			<label for="search-price-max">Price lower than</label>
			<input type="number" step="0.01" id="search-price-max" class="form-control" ng-model="vm.currentUser.filters.priceMax"/>
		</div>
		<div class="form-group">
			<label for="search-quantity">Quantity</label>
			<input type="number" id="search-quantity" class="form-control" ng-model="vm.currentUser.filters.quantity" />
		</div>
		<div class="form-group">
			<button class="btn btn-primary" ng-click="vm.updateFilters()">Update Filters</button>
		</div>
	</form>
</div>
<table id="items">
	<thead>
		<tr>
			<th>
				Title
			</th>
			<th>
				Price Per Unit
			</th>
			<th>
				Quantity
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in vm.items">
			<td>
				<a ng-href="#/items/{{item._id}}">{{item.title}}</a>
			</td>
			<td>
				<span>{{item.pricePerUnit}}</span>
			</td>
			<td>
				<span>{{item.quantity}}</span>
			</td>
		</tr>
	</tbody>
</table>